.dashboard-container {
    display: flex;
    width: 100%;
    min-height: 100%;
    background-color: white;
    flex: 1;
    flex-direction: column;
}

.dashboard-container .content {
    flex: 1;
    margin-top: 15px;
    display: flex;
}