.dashboard-container {
    display: flex;
    width: 100%;
    min-height: 100%;
    background-color: inherit;
    flex: 1;
    flex-direction: column;
}

.dashboard-container .content {
    flex: 1;
    margin-top: 15px;
    display: flex;
<<<<<<< HEAD
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchBar > * {
}

.searchBarStart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.searchBarStart > * {
    margin-right: 15px;
}
=======
    flex-direction: row;
    flex-wrap: wrap;
}
>>>>>>> 58823d4042c93707acab440d9e5790dac054f0cc
