.content-box-container {
    display: flex;
    width: 100%;
    min-height: 550px;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 3px 3px rgb(241, 240, 240);
    box-sizing: border-box;
    margin: 0;
}

.content-box-footer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    box-sizing: border-box;
    margin-top: 15px;
}

.content-box-footer *{
    margin-left: 10px;
}