.select-box-mock {
    font-size: 1rem;
    padding: 15px;
    box-sizing: border-box;
    height: 1.5rem;
    background-color: white;
}

.select-box-mock-contain {
    padding: 0px;
    height: 1.5rem;
}

.option-select-box-mock {
    font-size: 1em;
    margin: 0;
    padding: 3px;
}
