.outline-input {
    background-color: white;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1rem;
    height: 1.5rem;
}

.outline-input.disabled {
    /* background-color: rgb(233, 227, 227); */
    background-color: rgb(231, 227, 227);
    -webkit-text-fill-color: unset;
    color: black;
    font-weight: bold;
    border: none;
}