.container {
    display: flex;
    min-height: 3rem;
    background-color:red;
    justify-content: space-between;
    padding-right: 2rem;
    box-sizing: border-box;
    position: fixed;
    padding-left: 3rem;
    transition: width 0.5s;
    transition: margin 0.5s;
    transition-timing-function: ease-in;
}